.reveal .segmentDisplay {
    font-family: 'Technology';
   /* color: #c0392b;*/
   color:red;
   text-shadow: 0 0 8px #FF0000;
   font-weight: normal; 
   font-style: normal;
}

.hwAction{
    background-color: #3498db;
    border-radius : 0px;
    color: white;
    font-size: 1.3em;
    padding-right: .3em;
    padding-left: .3em;
    border-width: 4px;
    border-color: white;
}

/* From https://codepen.io/mattonit/pen/vLoddq*/
div#wave {
    /*
    position: relative;
    margin-top: 50vh;
    text-align: center;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    */
  }

  div#wave .dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 3px;
    background: white;
    animation: wave 1.3s linear infinite;
  }
  div#wave .dot:nth-child(2) {
    animation-delay: -1.1s;
  }
  div#wave .dot:nth-child(3) {
    animation-delay: -0.9s;
  }
  
  @keyframes wave {
    0%, 60%, 100% {
      transform: initial;
    }
    30% {
      transform: translateY(-15px);
    }
  }
  /*.reveal section img { background:none; border:none; box-shadow:none; }*/

  .reveal .imageColumn {
    display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  align-content: center;
  }

  .reveal .highlightbtn{
    color: #0e83cd;
    background: #fff;

  }


#COL_SPACER {
  column-count: 3;

}

.column {
  float: left;
}

.left, .right {
  width: 70%;
}

.middle {
  width: 30%;
}

.reveal .largeDisplay{
  font-size: 3em;
}

.cipherbox{
  width: 80%;
  height: 80px;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 2em;
  color: #2c3e50;
  border: none;
  padding: 5%;
  margin-left: 5%;
  margin-right : 5%;
}

.cipherbox_top{
  background-color: #3498db;

}

.cipherbox_bottom{
  background-color: #2980b9;
  margin-bottom: 0px;
}

.reveal .cipherbox_btn{
  font-size: .5em;
  margin-top: 0px;
  padding: 10px 109.5px;
  
}

